.wrapper {
    max-width: 425px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 0;
    background: url('bgv3_mini.jpg') no-repeat center -2000px;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Playfair Display', serif;
    color: #4A4A4A;
    background-color: #928458;
    overflow-x: hidden;
}

.flower-main {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 425px;
    height: 100%;
    background: url('bgv3_mini.jpg') no-repeat center top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
    pointer-events: none;
}
.flower {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 425px;
    height: 100%;
    background: url('bgv3_mini6.png') no-repeat center top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    pointer-events: none;
}

#quote {
    position: absolute;
    z-index: 20;
}

#quote::after {
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, white, transparent);
}

.hehe {
    background: radial-gradient(circle, white 0%, transparent 50%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

#cover {
    background: url('bgv3_mini.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 30;
}

.blur-cont {
    box-shadow: 0px 0px 10px 17px rgb(255 255 255 / 0.6);
}

#cover::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(244, 225, 210, 0) 0%, #fff 100%);
}

.text-glow {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.text-glow-black {
    text-shadow: 0px 0px 5px #283015, 0px 0px 5px #283015;
}

.cover-title {
    line-height: 10vh;
}

@font-face {
    font-family: amsterdam;
    src: url(Amsterdam_Four_400.ttf);
}

@media (max-width: 768px) {
    #cover {
        background: url('bgv3_mini.jpg') no-repeat center top;
        background-size: cover;
        height: 100vh;
        min-height: 100vh;
    }

    .hehe {
        background: radial-gradient(circle, white 0%, transparent 50%);
        background-size: cover;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }
}

.simply-countdown>.simply-section {
    width: 65px;
    height: 65px;
    padding: 1.5rem;
}

.simply-countdown {
    flex-wrap: nowrap;
    gap: 0.25rem;
    overflow: unset;
}

@media (max-width: 375px) {
    .simply-countdown {
        flex-wrap: wrap;
        gap: 0.25rem;
        overflow: unset;
    }
}

.simply-countdown>.simply-section .simply-word {
    font-size: .6rem;
}

.content-section {
    max-width: 90%;
    width: 600px;
    margin: auto auto;
}

.white-section {
    background-color: white;
    padding: 0rem 2rem;
    width: 100%;
}

.birthstone-regular {
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.amsterdam {
    font-family: amsterdam;
    font-weight: 400;
    font-style: normal;
}  

.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
}  

.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}  

:root {
    --color-primary: #000; 
    --color-secondary: #F7D1DF;
}

.border-primary {
    border-color: var(--color-primary);
}

@layer utilities {
    .bg-primary {
        background-color: var(--color-primary);
    }
    .text-primary {
        color: var(--color-primary);
    }
    .bg-secondary {
        background-color: var(--color-secondary);
    }
    .text-secondary {
        color: var(--color-secondary);
    }
}


#door-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-left: calc(-50vw + 50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 2000px;
    overflow: hidden;
}

#door-left,
#door-right {
    height: 100%;
    position: absolute;
    top: 0;
}

#door-left {
    left: 0;
    width: 50%;
    background-image: url('doorL3_mini.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transform-origin: left;
    transform-style: preserve-3d;
    z-index: 30;
}

#door-right {
    right: 0;
    width: 50%;
    background-image: url('doorR2_mini.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform-origin: right;
    transform-style: preserve-3d;
    z-index: 30;
}

.door {
    backface-visibility: hidden;
}

#flower-arch {
    position: absolute;
    top: 0;
    margin-left: calc(-50vw + 50%);
    height: 100vh;
    object-fit: cover;
    z-index: 40;
    pointer-events: none;
}

@media (min-width: 426px) {
    .side-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin-left: calc(-50vw + 50%);
        display: flex;
        justify-content: space-between;
        z-index: 41; /* just above flower-arch */

        pointer-events: none; /* avoid blocking interactions */
    }

    .side-border::before,
    .side-border::after {
        content: "";
        width: calc((100vw - 425px) / 2);
        height: 100%;
        background-color: #e2bfaa;
    }
}


#door-text {
    position: absolute;
    inset: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
